.clothes-section {
}

.clothes-section__header {
  display: flex;
}

.clothes-section__title {
  padding: 0;
  margin: auto 20px 0 0;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
}

.clothes-section__button {
  padding: 0;
  margin: auto 0;
  border: none;
  background: none;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.6);
}

.clothes-section__button:hover {
  cursor: pointer;
}

.clothes-section__gallery {
  margin: 16px 0 0;
  width: 100%;
}

.clothes-section__cards {
  margin: 0;
  padding: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(328px, 1fr));
  grid-gap: 18px;
  justify-items: center;
}

@media screen and (max-width: 650px) {
  .clothes-section {
    width: 100%;
  }

  .clothes-section__header {
    justify-content: center;
  }
}
