.footer {
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.footer__copyright {
  font-family: "Cabinet Grotesk";
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.footer__year {
  font-family: "Cabinet Grotesk";
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}
