.header {
  padding: 32px 0 0;
  display: flex;
  justify-content: space-between;
}

.header__greeting {
  display: flex;
  align-items: center;
}

.header__logo {
}

.header__date-and-location {
  margin: 0 0 0 24px;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.header__menu {
  display: flex;
  align-items: center;
  margin: 0 0 0 740px;
}

.header__button__add_clothes {
  padding: 0;
  margin: 0 20px 0;
  border: none;
  background-color: rgb(0, 0, 0, 0);
  font-family: "Cabinet Grotesk";
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  transition: color 0.2s ease-in-out;
}

.header__button__add_clothes:hover {
  cursor: pointer;
  color: #ff4d00;
}

.header__profile {
}

.header__name {
  margin: 0;
  font-family: "Cabinet Grotesk";
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  transition: color 0.2s ease-in-out;
}

.header__name:hover {
  cursor: pointer;
  color: #ff4d00;
}

.header__avatar {
  margin: 0 0 0 12px;
  height: 40px;
  width: 40px;
}

.header__avatar:hover {
  cursor: pointer;
}

.header__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 1200px) {
  .header__menu {
    margin: 0;
  }
}

@media screen and (max-width: 600px) {
  .header {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 390px) {
  .header__date-and-location {
    font-size: 18px;
  }

  .header__name {
    display: none;
  }

  .header__avatar {
    margin-left: 100%;
  }
}
